# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Node
node_modules/
npm-debug.log
yarn-error.log

# Model Weights (User will provide link)
local_model/
model/
*.pt
*.bin
*.safetensors
*.h5
*.ot

# Datasets
Dataset/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
